.map {
    width: 100%;
    height: 700px;
  }
  .custom-button{
    background-color: #f39c12;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 40px 0 auto;
  }