#leaflet {
  height: calc(100vh - 20px);
}

::ng-deep #custom-control-button {
  width: 40px;
  height: 40px;
  background: white;
  padding: 5px;
  cursor: pointer;
}

.area-list {
  ul {
    max-height:180px;
    height: 100%;
    overflow-y: scroll;
    border: 2px solid rgb(239, 237, 237);
    list-style: none;
    padding-left: 0;

    li {
      padding: 10px;
      cursor: pointer;

      +li {
        border-top: 2px solid rgb(239, 237, 237);
      }
    }
  }

  p {
    border: 2px solid rgb(239, 237, 237);
    padding: 10px;
  }
}